
.icon-cog-alt:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-edit:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-chart-bar:before { content: '\e804'; } /* '' */
.icon-off:before { content: '\e805'; } /* '' */
.icon-credit-card:before { content: '\e806'; } /* '' */
.icon-dollar:before { content: '\e807'; } /* '' */
.icon-money-1:before { content: '\e808'; } /* '' */
.icon-pencil-1:before { content: '\e809'; } /* '' */
.icon-cog-1:before { content: '\e80a'; } /* '' */
.icon-key:before { content: '\e80b'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */